.container {
  display: flex;
  gap: 12px;
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
  color: blue;
  font-weight: 700;
}

.active {
  color: blueviolet;
  text-decoration: underline;
}
